# tinyUPS - systemd configuration file
#
# Put this file in /etc/systemd/system
# then run "sudo systemctl enable tinyUPS.service"
# Based on the description by the Baldengineer
 
[Unit]
Description=TinyUPS Shutdown Controller
Before=network.target
After=umount.target
 
[Service]
Type=oneshot
ExecStart=/opt/tinyUPS/tinyUPSshutdown.sh
ExecStop=/opt/tinyUPS/tinyUPSrequest.py
RemainAfterExit=yes
 
[Install]
WantedBy=multi-user.target
